.wp-block-buttons {

	&.aligncenter {
		text-align: center;
	}

	.wp-block-button {
		display: inline-block;
		margin: $grid-size-small;
	}

	&.is-style-vertical .wp-block-button {
		display: block;
	}
}
