.block-editor-block-navigation-grid {
	width: 100%;
	border-collapse: collapse;
}

.block-editor-block-navigation-row {
	.block-editor-block-navigation-row__select-button {
		width: 100%;
		text-align: left;

		// Make this button's internal dimensions match the appender button.
		padding: 0 6px;

		.block-editor-block-icon {
			margin-right: 6px;
		}
	}

	.block-editor-block-mover-button {
		width: $icon-button-size;
		height: $icon-button-size;
	}

	&.is-selected .block-editor-block-navigation-row__select-button {
		color: $dark-gray-700;
		background: $light-gray-300;
	}
}

.block-editor-block-navigation-row__mover-cell {
	width: $icon-button-size;
	opacity: 0;
	@include reduce-motion("transition");

	&.is-visible {
		opacity: 1;
		@include edit-post__fade-in-animation;
	}
}

.block-editor-block-navigation-row__select-cell,
.block-editor-block-navigation-appender-row__cell {
	.block-editor-block-navigation-row__select-container,
	.block-editor-block-navigation-appender-row__container {
		display: flex;
	}

	.block-editor-block-navigator-descender-line {
		position: relative;
		flex-shrink: 0;
		width: ( $icon-button-size / 2 ) + 6px;

		&:first-child {
			width: ( $icon-button-size / 2 );
		}

		&.has-item {
			margin-right: 6px;
		}

		// Draw a vertical line using border-right.
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: -2px;
			bottom: -2px;
			right: 0;
			border-right: 2px solid $light-gray-700;
		}

		// Draw a horizontal line using border-bottom.
		&.has-item::after {
			content: "";
			display: block;
			position: absolute;
			top: $grid-size-large;
			left: 100%;
			width: 6px;
			border-bottom: 2px solid $light-gray-700;
		}

		&.has-item.is-last-row {
			height: $grid-size-large;
		}
	}
}

.block-editor-block-navigation-appender-row {
	.block-editor-button-block-appender {
		width: $icon-button-size;
		height: $icon-button-size;
		outline: none;
		background: none;

		&:hover:not(:disabled):not([aria-disabled="true"]) {
			@include menu-style__hover;
			outline: none;
		}

		&:focus:not(:disabled):not([aria-disabled="true"]) {
			@include menu-style__focus;
		}
	}
}
