.block-editor-block-navigation-grid {
	width: 100%;
	border-collapse: collapse;
}

.block-editor-block-navigation-row {
	.block-editor-block-navigation-row__select-button {
		width: 100%;
		text-align: left;

		.block-editor-block-icon {
			margin-right: 6px;
		}
	}

	&.is-selected .block-editor-block-navigation-row__select-button {
		color: $dark-gray-700;
		background: $light-gray-300;
	}
}

.block-editor-block-navigation-row__mover-cell {
	width: $icon-button-size;
	opacity: 0;
	@include reduce-motion("transition");

	&.is-visible {
		opacity: 1;
		@include edit-post__fade-in-animation;
	}
}

.block-editor-block-navigation-row__select-cell,
.block-editor-block-navigation-appender-row__cell {
	display: flex;

	.block-editor-block-navigator-descender-line {
		position: relative;
		flex-shrink: 0;
		width: ( $icon-button-size / 2 ) + 2px;
		border-right: 2px solid $light-gray-700;

		&.has-item {
			margin-right: $grid-size-small;
		}

		&.has-item::before {
			content: "";
			display: block;
			border-bottom: 2px solid $light-gray-700;
			position: absolute;
			left: 100%;
			width: 5px;
			top: $grid-size-large;
		}

		&.has-item.is-last-row {
			height: $grid-size-large;
		}
	}
}

.block-editor-block-navigation-appender-row {
	.block-editor-button-block-appender {
		width: $icon-button-size;
		height: $icon-button-size;
		outline: none;
		background: none;

		// This aligns the block appender icon with other block icons.
		margin: 0 2px;

		&:hover:not(:disabled):not([aria-disabled="true"]) {
			@include menu-style__hover;
			outline: none;
		}

		&:focus:not(:disabled):not([aria-disabled="true"]) {
			@include menu-style__focus;
		}
	}
}
